<section id="contacto" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>¿Listo para mejorar tu salud?</h2>
            </div>
            

        </div>
        <div class="row">
            <div class="col-md-6 contacto-details">                
                
                <div>
                    <h4>Contacto</h4> 
                    <h6 class="mb-2">Lunes a Sabado</h6>
                    <p>9:00 am-3:00 pm y de 4:00 pm-9:00 pm</p>  
                    <ul class="list-inline">
                                               
                        
                        <li class="list-inline-item">Cel: 55-76-60-21-47</li>
                        <li class="list-inline-item">E-mail: Quetzal.asoc@gmail.com</li>
                    </ul>

                </div>                        
                
                <div>
                    <h4>Nuestra página de Facebook</h4>
                    <ul class="list-inline">
                        <li class=" list-inline-item mx-3">
                          <a  target="_blank" href="https://www.facebook.com/quetzal.asociados.3"><i class="icono-facebook fab fa-facebook-square fa-3x"></i></a>
                        </li>
                        <!-- <li class=" list-inline-item  mx-3">
                          <a  href="#"><i class="fab fa-twitter-square"></i></a>
                        </li>
                        <li class=" list-inline-item  mx-3">
                          <a  href="#"><i class="fab fa-instagram"></i></a>
                        </li> -->
                       
                      </ul>

                </div>
                
            
            </div>
            <div class="col-md-6 contacto-direccion">

                <h4>Nuestra Sucursal</h4>
                <p>Camino a Tlaminolalpan Esquina Circuito Real del los Encinos Municipio San Vicente Chicoloapan</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d559.3489835560213!2d-98.88223017841963!3d19.419471618910965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e11fb4b4db2f%3A0x810d46337cf1c157!2sCamino%20a%20Tlamimilolpan%20%26%20Av%20San%20Jos%C3%A9%2C%20Chicoloapan%20de%20Ju%C3%A1rez%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1597420972788!5m2!1ses-419!2smx" frameborder="0" style="border:0;" class="embed-responsive-item" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
                




            </div>

        </div>


    </div>

</section>