<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2>Costos</h2>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-deck mb-3 text-center">
                    
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Básico</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">$690<small class="text-muted">/ Individual</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>Envase 1,200 Kg</li>
                          
                        </ul>
                        <a class="tag-hero" href="#contacto">Contáctanos</a>
                      </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Cuidate</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">$1,600 <small class="text-muted">/ Paquete </small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>3 Envases de 1,200Kg</li>
                          
                        </ul>
                        <a class="tag-hero" href="#contacto">Contáctanos</a>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
       
</section>