<%-include("partials/header") -%>


<section id="hero">
    <div class="container">
        <div class="row px-3">
            <div class="content-hero py-4 col-12 col-lg-7 d-flex flex-column-reverse   flex-md-row justify-content-between">
                <div>
                    <h1 class="big-heading">Quetzal</h1>
                    <h3>Cuidamos bien de ti</h3>
                    <p>Los mejores suplementos alimenticios para tu salud.
                    </p>
    
                    <a class="tag-hero" href="/productos">Productos</a>
                    <a class="tag-hero" href="#contacto">Contacto</a>
                </div>
                <div class="align-self-center">
                    <img width="200" height="200" src="/img/quetzal.svg" alt="logo-quetzal">
                </div>
               


            </div>
        </div>

    </div>
</section>
<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Somos una empresa comprometida
                </h2>

            </div>

        </div>
        <div class="row pt-5 info-details">

            <div class="col-12 col-md-4">
                <i class="fas fa-shipping-fast"></i>                
                <p>Somos rapidos y eficaces en nuestros pedidos mejorando dia dia el tiempo de entrega de nuestros productos</p>  
                
            </div>
            <div class="col-12 col-md-4">
                             
                <i class="fas fa-pills"></i> 
                <p>Todos nuestros productos los desarrollamos con los mejores ingredientes y de la mas alta calidad</p>
                

            </div>
            <div class="col-12 col-md-4">
                <i class="fas fa-dollar-sign"></i>
                <p>Nos dedicamos a vender suplementos alimenticios al mejor costo.</p>

            </div>


        </div>



    </div>

</section>
<section id="productos" class="bg-light-gray">

    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center ">
                <h2 class="">Productos Destacados</h2>

            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                    <img height="320 h-100" src="/img/lecheAlmendras.jpeg" class="card-img-top" alt="leche-almendras">
                    <div class="card-body">
                        <h5 class="card-title">Leche de Almendras</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios</h6>
                        <p class="card-text">
                            Beneficia a las personas con diabetes, debido a que favorece la digestión del almidón estabilizando los niveles de azúcar.<a target="_blank" href="/archivos/catalogo.pdf#page=9">Ver más</a>                  
                            
                        </p> 
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/LecheAlpiste.jpeg" class="card-img-top" alt="leche-alpiste">
                    <div class="card-body">
                        <h5 class="card-title">Leche de Alpiste</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios</h6>
                        <p class="card-text">
                            Desinflama órganos internos.
                            <br>Regula colesterol.<br>
                            Trigliceridos. <br>
                            Presión alta o baja.<a target="_blank" href="/archivos/catalogo.pdf#page=2">Ver más</a>
                            
                            
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/kids.jpeg" class="card-img-top" alt="kids">
                    <div class="card-body">
                        <h5 class="card-title">Kids Malteada</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios</h6>
                        <p class="card-text">Malteada especialmente para niños de 3 a 12 años. <br>
                            Ayuda en el tratamiento de asma, cistitis, faringitis e indigestión.<a target="_blank" href="/archivos/catalogo.pdf#page=12">Ver más</a>
                        </p>
                    </div>
                </div>
            </div>
           
           
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="tag-hero" href="/productos">Ver todos</a>

            </div>
            

        </div>




    </div>

</section>

<%-include("partials/pricing") -%>



<%-include("partials/contacto") -%>















<%-include("partials/footer") -%>