<%-include("partials/header") -%>

<section id="nosotros">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    ¿Quienes somos?                   
                </h2>
                <hr class="my-4">

            </div>
            

        </div>
        <div class="row py-3">
            <div class="col-12">
                <p>Somos una empresa diferente para brindarte el cuidado y atención que mereces.</p>
                <p>Nosotros nos especializamos en suplementos alimenticios para cubrir tus necesidades, ofreciéndote atención personalizada en la adquisición de los mismos.</p>
                <p>Si estás visitando nuestro sitio probablemente tú, o algún ser querido tienen una necesidad de salud y buscan productos de origen natural, como seguramente sabes, estos suplementos se recomiendan para mejorar nuestro estilo de vida, siendo un auxiliar en enfermedades crónicas o complejas, pero lo más importante es que al utilizar todos estos suplementos complementamos cualquier tratamiento que tengas, sin dañar tu cuerpo ya que todos nuestros productos estan elaborados a base de ingredientes naturales, es por eso que en <b>Quetzal</b> lo entendemos y estamos aquí para ayudarte.</p>
            </div>

        </div>
        <div class="row py-5 text-center">
            <div class="col-12">
                <h3>¿Tienes alguna duda?</h3>
                <h6>Contacta a nuestros ejecutivos</h6>

            </div>
            

        </div>
        <div class="row">
            <div class="col-10 mx-auto col-md-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img class="img-fluid" src="/img/cesar.jpg" alt="cesar">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Cesar Santiago</h5>
                          <p class="card-text">Contactame con gusto te atendere</p>
                          <p class="card-text my-1">Redes sociales</p>
                          <div>
                            <a class="mr-3"  target="_blank" href="https://www.facebook.com/quetzal.asociados.3"><i class="icono-facebook fab fa-facebook-square fa-2x"></i></a>
                            <p class="d-inline">Cel: 55-74-60-21-47</p>
                            <!-- <a class="mx-3"  href="#"><i class="fab fa-twitter-square"></i></a>
                        
                            <a class="mx-3" href="#"><i class="fab fa-instagram"></i></a> -->

                          </div>                      
                             
                            
                           
                          </ul>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                </div>
               
                

            </div>
            

        </div>

    </div>

</section>

<%-include("partials/contacto") -%>


<%-include("partials/footer") -%>