<%-include("partials/header") -%>
<section id="productos" class="bg-light-gray">

    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center ">
                <h2 class="">Nuestros Productos</h2>

            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/ajoNegro.jpeg" class="card-img-top" alt="ajo-negro">
                    <div class="card-body">
                        <h5 class="card-title">Ajo Negro</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">
                            Mejora las vías respiratorias y ayuda cuándo existen problemas de gripe, asma, bronquitis, etc.
                            
                            
                            </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/colageinX.jpeg" class="card-img-top" alt="Colagein-X">
                    <div class="card-body">
                        <h5 class="card-title">Colagein-X</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">
                            Desvanece líneas de expresión, manchas por el sol y paño. <br>
                            Quita celulitis, ayuda a mantener la elasticidad de la piel.                        
                           
                            
                            
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/colageinXCrema.jpeg" class="card-img-top" alt="colageinXCrema">
                    <div class="card-body">
                        <h5 class="card-title">Colagein-X(crema)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios</h6>
                        <p class="card-text">Elimina el acné. <br>
                            Cura y sana heridas, acelera el proceso de cicatrización.

                           
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img height="320 h-100" src="/img/colageno.jpeg" class="card-img-top" alt="colageno">
                    <div class="card-body">
                        <h5 class="card-title">Colágeno Fem</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios</h6>
                        <p class="card-text">
                            Beneficia a las personas con diabetes, debido a que favorece la digestión del almidón estabilizando los niveles de azúcar.
                            
                            
                            </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/kids.jpeg" class="card-img-top" alt="kids">
                    <div class="card-body">
                        <h5 class="card-title">Kids Malteada</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">
                            Malteada especialmente para niños de 3 a 12 años. <br>
                            Ayuda en el tratamiento de asma, cistitis, faringitis e indigestión.
                            
                            
                            
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/lecheAlmendras.jpeg" class="card-img-top" alt="leche-almendras">
                    <div class="card-body">
                        <h5 class="card-title">Leche de Almendras</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">Beneficia a las personas con diabetes, debido a que favorece la digestión del almidón estabilizando los niveles de azúcar.
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img height="320 h-100" src="/img/lecheAlpiste.jpeg" class="card-img-top" alt="leche-alpiste">
                    <div class="card-body">
                        <h5 class="card-title">Leche de Alpiste</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">
                            Desinflama órganos internos.
                            <br>Regula colesterol.<br>
                            Trigliceridos. <br>
                            Presión alta o baja.
                            
                            </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/limpiaColon.jpeg" class="card-img-top" alt="limpia-colon">
                    <div class="card-body">
                        <h5 class="card-title">Limpia Colon</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">
                            Reduce el colesterol alto. <br>
                            Mejora el nivel de azúcar en diabetes tipo 2.
                            
                            
                            
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/maca.jpeg" class="card-img-top" alt="maca">
                    <div class="card-body">
                        <h5 class="card-title">Maca</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">Alivia los síntomas del síndrome pre- menstrual y la menopausia. <br>
                        Aumenta la fertilidad y función sexual.
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320 " src="/img/moringa.jpeg" class="card-img-top" alt="moringa">
                    <div class="card-body">
                        <h5 class="card-title">Moringa</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">Disminuye el colesterol malo. <br>
                            Antidepresivo natural <br>
                            Anti-inflamatorio.                           
                            
                            
                            </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/pentaMilk.jpeg" class="card-img-top" alt="penta-milk">
                    <div class="card-body">
                        <h5 class="card-title">Garcinia</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">
                            Tiene propiedades antibióticas y astringentes. <br> Ayuda a reducir la ansiedad y quemar grasa corporal. 
                            
                            
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/reducitl.jpeg" class="card-img-top" alt="reducitl">
                    <div class="card-body">
                        <h5 class="card-title">Reducitl</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">Elimina toxinas por vía renal. <br>
                            Ayuda a eliminar celulitis. <br>
                            Elimina el cansancio, factor para acabar con el estrés.
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/ticitl.jpeg" class="card-img-top" alt="ticitl">
                    <div class="card-body">
                        <h5 class="card-title">Ticitl</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">
                            Quita dolor muscular, causado por golpes, torceduras, en un minuto lo absorbe la piel y en 10 min quita el dolor.
                           
                            
                            
                            </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/vitaNox.jpeg" class="card-img-top" alt="vita-nox">
                    <div class="card-body">
                        <h5 class="card-title">Vita-Nox</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">
                            Ayuda a regular el colesterol y triglicéridos. <br>
                            Es anticancerígeno por el Noni, ayuda a la memoria y contiene vitamina B1 y B12.
                            
                            
                            
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img height="320" src="/img/zonaCero.jpeg" class="card-img-top" alt="zona-cero">
                    <div class="card-body">
                        <h5 class="card-title">Zona Cero</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Beneficios </h6>
                        <p class="card-text">Ayuda a bajar de peso. <br>
                            Acelerador metabólico. <br>
                            Regula la presión y evita retención de líquidos.
                            
                        </p>
                    </div>
                </div>
            </div>
           
           
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="tag-hero" href="/archivos/catalogo.pdf">Ver catálogo</a>

            </div>
            

        </div>




    </div>

</section>
<%-include("partials/pricing") -%>

<%-include("partials/contacto") -%>



<%-include("partials/footer") -%>